.background{
    background-color: rgb(179, 179, 179);
    position: absolute;
    top: 1.5em;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.button{

    height: 4em;
    width: 10em;
    background-color: rgb(175, 175, 175);
    margin: 0.5em;

    border-width: 0.2em;
    border-style: solid;
    border-color: rgb(131, 131, 131);
    border-radius: 0.5em;

    color: rgb(131, 131, 131);
}

.active{
    background-color: white;
    border-color: rgb(80, 80, 80);
    color: rgb(80, 80, 80);
}

.pointsCounter{
    position: relative;
    top: 0.5em;
    
    
    height: 2em;
    width: 10em;
    margin: 1em auto;

    background-color: rgb(255, 255, 255);

    /* border-width: 0.1em; */
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 0.2em;

    font-weight: bold;
    font-size: 1em;

    text-align: center;
    align-items: center; /* align vertical */
    padding-top: 0.4em;

    border-radius: 0.5em;

}

.hand{ 
    display: inline-block;

    position: relative;
    left: 50%;
    
    margin: -1.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.lostGame{
    background-color: rgb(167, 29, 29);
    margin: 0 auto;
}

.wonGame{
    background-color: rgb(0, 128, 32);
    margin: 0 auto;
}

.tieGame{
    background-color: rgb(116, 116, 116);
    margin: 0 auto;
}