.hand{ 
    display: inline-block;
    
    margin: -1.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.card{
    height: 12em;
    width: 7em;
    
    border-width: 0.8em;
    border-style: solid;
    border-color: white;
    border-radius: 0.8em;    
    
    /* display: inline-block; */
    
    margin: 0.5em;

    font-family: "Verdana", Times, serif;
    font-size: 1em;
    font-weight: bold;

    text-align : left;
    text-align : top;
    padding: 1em;
    /* text- */
}

.unflippedCard{
    background-color: black;
}

.flippedCard{
    background-color: rgb(200, 205, 248);
}